{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Find Your Host Today! </h1>
    <div class="row align-items-start">
    <div class="col">
      <form method='POST' class="form-inline"> 
        {% csrf_token %}
	{{ search_form }}
        If an address is not provided, your account address will be used instead.
	{{ address_form }}
	<button type="submit" class="btn btn-primary">Filter</button> 
      </form>
    </div>
      <div class="col">
      {% for host in hosts %} 
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{host.hostest.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ host.email }}</a>
              <small class="text-muted">{{ host.price }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ host.hostest.username }}</a></h2>
	    <p class="article-content">{{ host.address_1 }} {{ host.address_2 }} {{ host.city }}, {{ host.state}} {{ host.country }} {{ host.zip_code }}</p>
          </div>
        </article>
      {% endfor %}
      </div>
      </div>
{% endblock content %}
